body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #ffffff;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background: rgba(0, 0, 0, 0.8);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav ul li a {
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav ul li a.active, nav ul li a:hover {
    background-color: #0094cc;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #fff; /* White border for visibility */
}

th {
    background-color: #6a11cb; /* Slightly darker header to distinguish */
}

button {
    background-color: #00d4ff;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0094cc;
}

footer {
    position: fixed; /* or 'absolute' if you want it at the bottom of the content */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* semi-transparent black */
    color: white;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5); /* subtle shadow to create a lifting effect */
}

footer p {
    margin: 0; /* Removes default paragraph margins */
    font-size: 14px;
}
